#test 
{
   
  padding: 40px 40px 40px 40px;
  margin: 60px 90px 0px ;
  
}

p 
{
  margin: 40px;
  color: #000;

}

#top 
{
  padding: 20px;
  max-width: 1800px;
  height: 200px;
  border-radius: 20px;
  background-color: #a1d6e2;
}

body 
{
  background-color: #bbbbbb;
}

div h2 
{
  color: #000;
  text-align: center;
  font-family: Century Gothic, sans-serif;
}

#top p 
{
  text-align: center;
  color: #fff;
  font-family: Century Gothic, sans-serif;
  font-size: 18px;
}

h2,h3 
{
  font-family: Century Gothic, sans-serif;
}

button 
{
  border-radius: 25px;
  width: 100px;
  background-color: #fff;


}

#submit p 
{
  color: #000;
  font-family: Century Gothic, sans-serif;
  text-align: center;

}

button: hover 
{
  background-color: #fff;
}

button #restart 
{
  margin: 20px 20px 20px 20px;
  clear: right;
}

button #rank 
{
  margin: 20px 20px 20px 20px;
}

h2 #test-status 
{
  margin: 0 auto;
}

label 
{
  font-size: 20px;
}

