.container 
{
   
  padding: 40px 40px 40px 40px;
  margin: 0 auto;
  
}

.container h2 
{
  text-align: center;
  font-family: Century Gothic, sans-serif;
}

.container h3 
{
  font-family: Cambria, serif;
}

.container label 
{
  font-family: Cambria, serif;
  font-size: 20px;
}



.top 
{
  padding: 20px;
  max-width: 1800px;
  background-color: #004d40;
}


.top h2 
{
  color: #fff;
  font-family: Goudy old style, serif;;
  text-align: center;
  font-size: 4em;
}

.top p 
{
  color: #fff;
  text-align: center;
  font-family: Didot, serif;
  font-size: 20px;
}

#test button 
{
  background-color: #004d40;
  padding: 10px;
  border-radius: 10px;

}

#test button #answer
{
  color: #fff;
  margin: 0 auto;
}

#test button #score 
{
  color: #fff;
  margin: 0 auto;
  width: 150px;

}

#test button #scores 
{
  
  margin-left: 500px;
 
}

#test button #rank 
{
  color: #fff;
  margin: 0 auto;
  width: 150px;
}

#test button #start
{
  color: #fff;
  margin: 0 auto;
  width: 150px;
}

#test #name
{
  text-align: center;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#test #nametext
{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



/*

.top p 
{
  margin: 40px;
  color: #fff;

}

.top 
{
  padding: 20px;
  max-width: 1800px;
  height: 200px;
  
  background-color: #004d40;
}

.container h2 
{
  color: #000;
}

body 
{
  background-color: #bbbbbb;
}

div h2 
{
  color: #000;
  text-align: center;
  font-family: "Robto"
  font-weight: bold;
  font-size: 2em;
}

#top p 
{
  text-align: center;
  color: #fff;
  font-family: Century Gothic, sans-serif;
  font-size: 18px;
}

h2,h3 
{
  font-family: Copperplate Gothic Light, sans-serif;;
}

button 
{
  border-radius: 25px;
  width: 100px;
  background-color: #004d40;


}

#submit p 
{
  color: #fff;
  font-family: Century Gothic, sans-serif;
  text-align: center;

}

button: hover 
{
  background-color: #fff;
}

button #restart 
{
  margin: 20px 20px 20px 20px;
  clear: right;
}

button #rank 
{
  margin: 20px 20px 20px 20px;
}

h2 #test-status 
{
  margin: 0 auto;
}

label 
{
  font-size: 20px;
}

*/